<!-- FOOTER SECTION -->

<div class="footer-basic justify-content-md-center bg-light">
    <footer>
        <div class="social pt-5"><a href="https://www.instagram.com/norman.review/"><i class="icon ion-social-instagram"></i></a><a href="https://twitter.com/ReviewMenswear"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/Review-menswearhirewear-344033259006309/"><i class="icon ion-social-facebook"></i></a>
            <a href="mailto:norman-review@live.co.uk"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>  
            <i class="fa fa-phone" aria-hidden="true"></i>  Tel. 01642 615 861</br>
      
        <i class="fa fa-home" aria-hidden="true"></i>  Review, 25 Silver Street, Cultural Quarter, Stockton on Tees, TS18 1SX
    </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Review Menswear © 2023</p>
    </footer>
</div>
